<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
        version="5.0">

  <display-name>My App</display-name>

  <servlet>
    <servlet-name>ApiServlet</servlet-name>
    <servlet-class>ApiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApiServlet</servlet-name>
    <url-pattern>/api</url-pattern>
  </servlet-mapping>

  <!-- <servlet>
    <servlet-name>ProductsServlet</servlet-name>
    <servlet-class>servlet.ProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping> -->
</web-app>